.resume-title {
  text-align: center;
  margin-bottom: 1.5em;
}

.resume-download {
  text-align: center;
  margin-bottom: 2em;
}

.resume-title {
  text-align: center;
  margin-bottom: 1.5em;
}
.cv-single-image {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.cv-single-image img {
  width: 100%;
  max-width: 950px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

/* Mobile */
@media screen and (max-width: 768px) {
  .cv-single-image img {
    max-width: 100%;
  }
}
